<html xmlns:th="http://www.thymeleaf.org">
	<!-- meta -->
	<head th:fragment="load_common_meta">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<!-- 共通css -->
	<head th:fragment="load_common_css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
	</head>
	<!-- 共通javascript -->
	<head th:fragment="load_common_js">
		<!--  react, babel -->
		<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
	</head>
	<!-- 共通ヘッダ -->
	<div th:fragment="load_common_header">
		<header id=header>
			<div class="logo"></div>
			<input type="submit" value="予約" class="reserve" />
			<input type="submit" value="ログイン" class="login" />
		</header>
	</div>
		<!-- 共通フッダ -->
		<div th:fragment="load_common_footer">
			<div id="fooder">
				<div>
					<a href="#">利用規約</a>
					<a href="#">プライバシーポリシー</a>
					<a href="#">会社概要</a>
				</div>
				<div>
					<p>ⓒ2018 demo guri's nail salon</p>
				</div>
			</div>
		</div>
	<!-- 共通メニューバー -->
	<div th:fragment="load_common_menu">
		<div class="nav_box">
			<i class="nav_icon fas fa-home fa-2x"></i>
			<p><a class="nav_link gid_home" href="#">ホーム</a></p>
		</div>
		<div class="nav_box">
			<i class="far fa-hand-paper fa-2x"></i>
			<p><a class="nav_link gid_design" href="#">デザイン一覧</a></p>
		</div>
		<div class="nav_box">
			<i class="far fa-calendar-alt fa-2x"></i>
			<p><a class="nav_link gid_reserve" href="#">予約</a></p>
		</div>
		<div class="nav_box">
			<i class="fas fa-check fa-2x"></i>
			<p><a class="nav_link gid_confirm" href="#">予約確認</a></p>
		</div>
		<div class="nav_box">
			<i class="far fa-envelope fa-2x"></i>
			<p><a class="nav_link gid_contact" href="#">問い合わせ</a></p>
		</div>
		<div class="nav_box">
			<i class="fas fa-map-marked-alt fa-2x"></i>
			<p><a class="nav_link gid_access" href="#">アクセス</a></p>
		</div>
		<div class="nav_box">
			<i class="fas fa-sign-in-alt fa-2x"></i>
			<p><a class="nav_link gid_login" href="#">ログイン</a></p>
		</div>
		<div class="nav_box">
			<i class="fas fa-sign-out-alt fa-2x"></i>
			<p><a class="nav_link gid_logout" href="#">ログアウト</a></p>
		</div>
	</div>
	<!-- TODO共通モーダル（js呼び出し） -->
	<!-- TODO共通ダイアログ（js呼び出し） -->
</html>
