@charset "UTF-8";
/** カラーコード定義
  先頭
    無印・・・中間
    d_  ・・・暗め
    l_  ・・・明るめ
*/
.btn-pink {
  color: #ffffff;
  background-color: #f99bd7;
  border-color: #d46db7; }
  .btn-pink:hover {
    background-color: #d46db7; }

.btn-long {
  margin-top: 1.5em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 0.3em; }
