<head th:fragment="pickadate_css">
  <link rel="stylesheet" th:href="@{/vendor/pickadate/css/default.css}">
  <link rel="stylesheet" th:href="@{/vendor/pickadate/css/default.date.css}">
    <link rel="stylesheet" th:href="@{/vendor/pickadate/css/default.time.css}">
<head>

<div th:fragment="pickadate_js">
  <script th:src="@{/vendor/pickadate/pickadate/picker.js}"></script>
  <script th:src="@{/vendor/pickadate/pickadate/picker.date.js}"></script>
  <script th:src="@{/vendor/pickadate/pickadate/picker.time.js}"></script>
  <script th:src="@{/vendor/pickadate/pickadate/legacy.js}"></script>
  <script th:src="@{/vendor/pickadate/pickadate/lang-ja.js}"></script>
  <script th:src="@{/vendor/pickadate/js/main.js}"></script>
</div>
