<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ネイルサロン予約サイト | 予約画面</title>
		<!-- 共通 -->
		<head th:include="common::common_meta" />
		<head th:include="common::common_lib" />
		<head th:include="common::common_js" />
		<head th:include="common::common_css" />
		<!-- 画面固有 -->
		<head th:include="_pickadate::pickadate_css" />
	</head>
	<body>
		<!-- 共通ヘッダ -->
		<div th:replace="common::common_header"></div>
		<!-- メニューバー -->
		<div th:replace="common::common_menu"></div>
		<!-- 画面固有 -->
    <div class="container">
			<div class="row">
        <main>
          <article class="col-xs-12">
            <h2>Info</h2>
            <div id="confirm">
              <p>直近の予約は12月3日（曜日）12：00～14：00です</p>
              <button type="button" class="btn btn-pink btn-long">予約確認</button>
            </div>
          </article>
					<article class="col-xs-12">
            <h2>予約</h2>
						<div class="section__block section__block--scoped">
			      <fieldset class="fieldset fieldset--demo">
			        <div class="fieldset__wrapper">
			          <label> ■予約日　 </label></br>
			          <input id='date' class="fieldset__input js__datepicker" type="text" placeholder="Try me&hellip;"></br></br>
			          <label> ■予約時間　</label></br>
			          <input id='time' class="fieldset__input js__datepicker" type="text" placeholder="Try me&hellip;"></br></br>
			          <button id="submit" class="fieldset__button button button--small">予約</button>
			        </div>
			        <div id="result"></div>      <!-- ボタン押下の結果を表示する -->
			      </fieldset>
			    </div>
						<button type="button" class="btn btn-pink btn-long">予約する</button>
          </article>
        </main>
      </div>
    </div>
		<!-- 共通フッダ -->
		<div th:replace="common::common_footer"></div>
		<!-- カレンダーライブラリ -->
		<div th:replace="_pickadate::pickadate_js"></div>
	</body>
</html>
