<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 共通 -->
		<head th:include="common::common_meta" />
		<head th:include="common::common_lib" />
		<head th:include="common::common_js" />
		<head th:include="common::common_css" />
		<!-- 画面固有 -->
		<head th:include="_pickadate::pickadate_css" />
		<link rel="stylesheet" th:href="@{/css/reserve.css}" />
	</head>
	<body>
		<!-- 共通ヘッダ -->
		<div th:replace="common::common_header"></div>
		<!-- メニューバー -->
		<div th:replace="common::common_menu"></div>
		<!-- 画面固有 -->
    <div class="container">
			<div class="row">
        <main>
          <article class="col-xs-12">
            <h2>Info</h2>
            <div id="confirm">
              <p>直近の予約は12月3日（曜日）12：00～14：00です</p>
              <button type="button" class="btn btn-pink btn-w-50">予約確認</button>
            </div>
          </article>
					<article class="col-xs-12">
            <h2>予約</h2>
						<div class="section__block section__block--scoped">
			      <fieldset>
			        <div class="form-group col-xs-12 col-lg-6 col-lg-pull-3 col-lg-offset-6 ">
			          <label>予約日</label>
			          <input id='date' class="form-control js__datepicker" type="text">
							</div>
							<div class="form-group col-xs-12 col-lg-6 col-lg-pull-3 col-lg-offset-6">
								<label>予約時間</label>
			          <input id='time' class="form-control js__datepicker" type="text">
							</div>
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-pink btn-w-50">予約する</button>
							</div>
							<div id="result"></div>      <!-- ボタン押下の結果を表示する -->
			      </fieldset>
			    </div>

          </article>
        </main>
      </div>
    </div>
		<!-- 共通フッダ -->
		<div th:replace="common::common_footer"></div>
		<!-- カレンダーライブラリ -->
		<div th:replace="_pickadate::pickadate_js"></div>
	</body>
</html>
