
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ネイルサロン予約サイト | デモページです</title>
		<!-- 共通 -->
		<meta th:include="common/common::load_common_meta">
		<meta th:include="common/common::load_common_js" />
		<meta th:include="common/common::load_common_css" />
		<!-- 固有 -->

	</head>
	<body>
		<!-- 共通ヘッダ -->
		<div th:include="common/common::load_common_header"></div>
		<!-- メニューバー -->
		<div th:include="common/common::load_common_menu"></div>
		<!-- 共通フッダ -->
		<div th:include="common/common::load_common_footer"></div>
	</body>
</html>
