
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ネイルサロン予約サイト | デモページです</title>
		<!-- 共通 -->
		<meta th:include="common::common_meta">
		<meta th:include="common::common_lib">
		<meta th:include="common::common_js" />
		<meta th:include="common::common_css" />
	</head>
	<body>
		<!-- 共通ヘッダ -->
		<div th:replace="common::common_header"></div>
		<!-- メニューバー -->
		<div th:replace="common::common_menu"></div>
		<!-- 共通フッダ -->
		<div th:replace="common::common_footer"></div>
	</body>
</html>
