@charset "UTF-8";
/** カラーコード定義
  先頭
    無印・・・中間
    d_  ・・・暗め
    l_  ・・・明るめ
*/
.btn-pink {
  color: #ffffff;
  background-color: #f99bd7;
  border-color: #d46db7; }
  .btn-pink:hover {
    background-color: #d46db7; }

.btn-w-50 {
  margin-top: 1.5em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 0.3em; }

.btn-w-80 {
  margin-top: 1.5em;
  width: 80%;
  font-weight: bold;
  letter-spacing: 0.3em; }

.btn-w-100 {
  margin-top: 1.5em;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.6em; }

/** 共通 */
body {
  background: linear-gradient(#bde2fb, #dbedfa) no-repeat;
  background-size: contain;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0; }

h1 {
  font-size: 4.0rem; }

h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 1.0em; }

h3 {
  font-size: 2.4rem; }

button {
  font-size: 2.0rem; }

p, a, tr, td, th, table, dl, dt, dd, span, label {
  font-size: 1.6rem; }

article {
  text-align: center;
  margin: 1.0em auto; }

/** 共通ヘッダ */
#header {
  position: fixed;
  z-index: 10;
  background: linear-gradient(#f99bd7, #fec48a) no-repeat;
  width: 100vw;
  height: 10.0em;
  display: flex;
  align-items: center; }
  @media (max-width: 767px) {
    #header {
      display: inline-block; } }
  #header .logo_txt {
    font-family: Damion;
    font-size: 4.0rem;
    margin-top: .25em; }
    #header .logo_txt:hover {
      text-decoration: none; }
  #header .btn_box {
    text-align: right; }
  #header .reserve, #header .login {
    height: 3.0em;
    width: 6.0em;
    margin: .75em .5em; }
  #header .nav_humb {
    vertical-align: middle;
    font-size: 4.0rem;
    margin: .4em .25em; }
  #header .user_name {
    display: inline-block;
    height: 3.0em;
    margin: .75em .5em; }
    #header .user_name p, #header .user_name i {
      display: inline;
      font-size: 2.0rem; }

.fix {
  height: 10.0em; }

/** 共通フッタ */
#fooder {
  text-align: center;
  padding: 1.0em 0;
  margin-top: 5.0em;
  background-color: #fec48a; }
  #fooder a {
    padding: 0 .5em;
    border-right: solid 0.1em #a5a5a5; }
  #fooder p {
    margin: 0 auto; }

/** メニューバー*/
#nav_wrapper .nav_box {
  text-align: center;
  margin: 10px auto;
  font-size: 2.4rem;
  cursor: pointer;
  text-decoration: none; }
  #nav_wrapper .nav_box:hover {
    text-decoration: none; }
#nav_wrapper .nav_link {
  margin-top: 10px; }
