.btn-pink {
  color: $white;
  background-color: $pink;
  border-color: $d_pink;
  &:hover {
    background-color: $d_pink;
  }
}

.btn-w-50 {
  margin-top: 1.5em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.btn-w-80 {
  margin-top: 1.5em;
  width: 80%;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.btn-w-100 {
  margin-top: 1.5em;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.6em;
}
