@charset "utf-8";

/** カラーコード定義
  先頭
    無印・・・中間
    d_  ・・・暗め
    l_  ・・・明るめ
*/
//白
$white: #ffffff;

//グレー
$glay: #a5a5a5;

//ピンク
$pink: #f99bd7;
$d_pink: #d46db7;

//オレンジ
$orange: #fec48a;

//紫
$l_purple:#fcb7ce;

//青
$blue: #bde2fb;
$l_blue: #dbedfa;
