@charset "utf-8";
@import "style";
/** 共通 */
html {
	//height: 100%;
	//margin: 0;
}
body {
	background: linear-gradient($blue, $l_blue) no-repeat;
	background-size: contain;
	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	height: 100%;
	margin: 0;
}
h1 {
	font-size: 4.0rem;
}
h2 {
	font-size: 3.6rem;
	text-align: center;
	margin-bottom: 1.0em;
}
h3 {
	font-size: 2.4rem;
}
button {
	font-size: 2.0rem;
}
p,a,tr,td,th,table,dl,dt,dd,span,label {
	font-size: 1.6rem;
}

article {
	text-align: center;
	margin: 1.0em auto;

}

/** 共通ヘッダ */
#header{
	position: fixed;
	z-index: 10;
	background: linear-gradient($pink, $orange) no-repeat;
	width: 100%;
	height: 10.0em;
	display: flex;
	align-items: center;
	.logo_txt {
		font-family: Damion;
		font-size: 4.0rem;
		margin-top: .25em;
		&:hover {
			text-decoration: none;
		}
	}
	.btn_box {
		text-align: right;
	}
	.reserve, .login {
		height: 3.0em;
		width: 6.0em;
		margin: .75em .5em;
	}
	.nav_humb {
		vertical-align: middle;
		font-size: 4.0rem;
		margin: .4em .25em;
	}
}
//固定ヘッダ用の空div
.fix {
	height: 10.0em;
}
/** 共通フッタ */
#fooder {
	text-align: center;
	padding: 1.0em 0;
	margin-top: 5.0em;
	background-color: $orange;
	//最下部固定
//	position: absolute;
//	bottom: 0;
//	width: 100%;
	a {
		padding: 0 .5em;
		border-right: solid .1em $glay;
	}
	p {
		margin: 0 auto;
	}
}

/** メニューバー*/
#nav_wrapper {
	//width: 30%;
	.nav_box {
		text-align: center;
		margin: 10px auto;
		font-size: 2.4rem;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.nav_link {
		margin-top: 10px;
	}
}
